@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --sonic: #19647E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

li {
  list-style: none;
  padding: 10px 15px;
  background-color: #ed5e5e;
  margin: 10px 0px;
  cursor: pointer;
}

.selected {
  background-color: #c13f3f;
}